/* google font ********/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* shared style  */
body{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    

}

.display-flex{
    display: flex;
}

.flex{
    justify-content: center;
    align-items: center;
}

.primary-color{
    color: rgb(255, 255, 255);
}

/* nav related style ----- */

.nav-text{
    color: rgb(230, 83, 60);
    font-size: 1.93rem;
    font-weight: 800;
    line-height: 120%;
    font-style: italic;

}


header{
    background: linear-gradient(to top, rgb(17, 17, 17) 10%,rgb(36, 35, 35), #000000 100%);
    padding:51px 140px 0px 160px;
    
}

.head{
    justify-content: space-between;
    align-items: center;
    padding-right:20px;
}

nav{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding:3px;
    border-radius: 34px;

}
nav ul > li{
    list-style: none;
    margin-left: 41px;
}
nav ul > li > a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}
nav > ul {
    margin: 0px;
    padding: 0;
}

.nav-btn{
    border-radius: 40px;
    background: rgb(230, 83, 60);
    border: 0;
    padding: 7px 17px;
    font-size: 15px;
    font-weight: 600;
}